@import "compass";
@include global-reset;

$bloom-box-height: 300px;
$bloom-box-width: 500px;

#bloom-box {
	height: $bloom-box-height;
	width: $bloom-box-width;
	margin: auto;
	margin-top: -($bloom-box-height / 2);
	margin-left: -($bloom-box-width / 2);
	position: absolute;
	top: 50%;
	left: 50%;
	
	.no-js &:hover, .js & {
		.left, .right {
			visibility: visible;
		}
	}

	.left, .right {
		position:absolute;
		top:50%;
		margin-top: -($bloom-box-height / 2);
		height: 100%;
		width: 50%;
		visibility: hidden;
		z-index: 2;
		
		.js & {
			@include opacity(0);
			background: none;
		}
	}
	
	.leftClone, .rightClone {
		z-index:1;
	}
	
	.left {
		left: 25%;
		margin-left: -($bloom-box-width / 4);
		background: black;
		
		p {
			color: #eee;
			padding:10px;
			font-size:14px;
			line-height:1.7em;
		}
	}

	.leftClone {
		position: absolute;
		top: 50%;
		left: 25%;
		background-color: black;

		p {
			@include opacity(0);
		}
	}
	
	.right {
		right: 25%;
		margin-right: -($bloom-box-width / 4);
		background:black;
		
		img {
			display: block;
		}
	}

	.rightClone {
		position: absolute;
		top: 50%;
		right: 25%;
		background-color: black;
		
		img {
			@include opacity(0);
		}
	}
		
}